h1{
    color: crimson;
    border: 5px solid rgb(118, 23, 182);
    margin-top: 35px;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 10px;
}
p{
    background-color:cadetblue;
    border: 5px solid burlywood;
    margin: 16px;
    padding: 10px;
    text-align: justify;
}
li{
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul{
    text-align: center;
}
section{
    text-align: center;
}
.section1{
    color: rgb(231, 228, 24);
    font-size: 30px;
    border-color: chartreuse;
    text-align: right;
    background-color: rgb(199, 19, 216);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}